{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1 class="mb-4">Add a New Entry</h1>
{% endblock page_header %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="mt-4">
                {% csrf_token %}

                {# Include CKEditor JS files #}
                {{ form.media }}

                <div class="mb-3">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    {% if form.text.errors %}
                        <div class="invalid-feedback">{{ form.text.errors.0 }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Add Entry</button>
            </form>
        </div>
    </div>
{% endblock content %}

