{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1 class="mb-4">{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">Add New Entry</a>
        </div>
    </div>

    {% for entry in entries %}
        <div class="card mb-3">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{ entry.date_added|date:'M d, Y H:i' }}</span>
                    <small><a href="{% url 'learning_logs:edit_entry' entry.id %}" class="text-muted">Edit Entry</a></small>
                </div>
            </div>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>There are no entries for this topic yet.</p>
    {% endfor %}
{% endblock content %}
